@import '../../_app.scss';

#name-cont {
  font-family: "Geosans";
  font-size: 2.5em;
  color: white;
}

#name-name {
  font-size: 2.7em;
  font-weight: 600;
  margin: 40px;
  word-spacing: 10px;
}

#name-prof {
  font-size: 1em;
}